.banner {
    background-image: url('images/banner-image.jpg');
    background-size: cover;
    color: #fff;
    text-shadow: 0.25px 0.25px 0.25px #000;
    padding: 20px 0;

}

.icon-volunteer {
    width: 250px;
    height: 650px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}