<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate</title>
    <link href="/static/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common.css" rel="stylesheet">
    <link href="/static/aboutus.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

</head>
<body>

{% include "navbar.html" %}


<div class="jumbotron">
    <div class="text-window">
        <h1>About Our Charity</h1>
        <p>Learn more about our mission, team, and community impact.</p>
    </div>
</div>

<!-- Why Give With Us-->

<div class="container mt-5">
    <h2>Why Give With Us</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/trust.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Safe & Secure</h3>
            <p>We use industry-standard encryption and protection of your data.</p>

            <h3>Trust by all</h3>
            <p>We publish our finances and impact numbers annually.</p>

            <h3>100% committed to doing good</h3>
            <p>Most of your gift goes directly to our cause and programs.</p>
        </div>
    </div>
</div>

<!-- Founders -->

<div class="container mt-5 mb-5">
    <h2>Our Founders</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/staff2.png" class="img-fluid rounded-circle img-founder">
                </div>

                <div class="col-md-6">
                    <h3>John Smith</h3>
                    <p>CFO & Co-Founder</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, accusantium!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/staff3.png" class="img-fluid rounded-circle img-founder">
                </div>

                <div class="col-md-6">
                    <h3>John Smith</h3>
                    <p>CFO & Co-Founder</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, accusantium!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/staff4.png" class="img-fluid rounded-circle img-founder">
                </div>

                <div class="col-md-6">
                    <h3>John Smith</h3>
                    <p>CFO & Co-Founder</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, accusantium!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/staff5.png" class="img-fluid rounded-circle img-founder">
                </div>

                <div class="col-md-6">
                    <h3>John Smith</h3>
                    <p>CFO & Co-Founder</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, accusantium!</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}

<script src="/static/jquery/jquery-3.7.1.min.js"></script>
<script src="/static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>