<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

</head>
<body>

{% include "navbar.html" %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="offset-3 col-6">
            <h1>Login</h1>
            <div class="alert alert-danger" id="errorMsg" role="alert">
            </div>

            <form id="loginform">
                <div class="form-group mt-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>

                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location='/register'">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% include "footer.html" %}

<script src="/static/jquery/jquery-3.7.1.min.js"></script>
<script src="/static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#errorMsg').hide();

    // Handle form submit
    $('#loginform').submit(function(e){

        // Prevent default form submit
        e.preventDefault();

        // Get form data
        var formData = {
            'username' : $('#username').val(),
            'password' : $('#password').val()
        };

        // AJAX request
        $.ajax({
            type: 'POST',
            url: '/auth/login',
            data: formData,
            dataType: 'json',
            success: function(response){
                // Handle response
                if(response.success){
                    // Redirect to homepage
                    window.location.href = '/';
                } else {
                    // Show error message
                    $('#errorMsg').text(response.error).show();
                }
            }
        });

    });
</script>
</body>
</html>